<a href="https://colab.research.google.com/github/ameer-salam/Notes/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
* Pandas library is build upon the NumPy library
* Pandas is used for data manipulation and analysis
* makes working on structured or tabular data easy and intuitive.

## DataFrames
* in simple words DataFrame is a Table, it contains an array of individual entries each with certain value.
* it is a two dimensional labelled datastructure which resemblesa spreadsheet or SQL table.
* it consists of Rows and Columns, where each column contain a data of different data types.
* here we can have names to both rows and columns and have index names(index lables)
* Nan - unavailable data

| Categorical variables | Numerical Variables |
|-|-|
| Represents qualitative or nominal data which falls into discrete category or groups | Represents numerical data or quantitative data |
|example - Gender, Maritial status, Product categories|number of products, no.. of Cars|
|have limited number of distince values|can takeup wide range of values|

## DataFrames in Pandas
* it is a single dimensional labeled array-like datastructure

In [28]:
#creating DataFrame
import pandas as pd
import numpy as np

df=pd.DataFrame({'Yes':[30, 40], 'No':[45, 76]})
print(df)

#Data Frames elemments are not just limited to one datatype
print("\n")
df=pd.DataFrame({"Ameer":['Code', 'Robots', 'God'], 'Salam':['Cars', 'Games', 'Work']})
print(df)

   Yes  No
0   30  45
1   40  76


    Ameer  Salam
0    Code   Cars
1  Robots  Games
2     God   Work

In [29]:
#indexing in Pandas
df=pd.DataFrame({"Car Company":['Hundai', 'Volvo'],'Car Models':['Eon', 'S90']}, index=['Compact', 'Sedan'])
print(df)

        Car Company Car Models
Compact      Hundai        Eon
Sedan         Volvo        S90

## Series in Pandas

* Series is a sequence of Data values,
* if DataFrame is Table, then Series is a list
* just like Pandas, Series can also have indexing, but since it only has one column, we can only give it one `name`
* **We can also take DataFrames as a collection of Series which are glues together**

In [30]:
s=pd.Series([1,2,3,4,np.nan, 6,7])
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    7.0
dtype: float64

In [31]:
s=pd.Series([1,2,3,4,np.nan, 6,7], index=['2018 Sales', '2019 Sales', '2020 Sales', '2021 Sales', '2022 Sales', '2023 Sales', '2024 Sales'], name='Sales')
print(s)

2018 Sales    1.0
2019 Sales    2.0
2020 Sales    3.0
2021 Sales    4.0
2022 Sales    NaN
2023 Sales    6.0
2024 Sales    7.0
Name: Sales, dtype: float64

## Reading Data Files

* the most common format of storing data in datasheets is the `csv` file (Comma-Separated Values)

to read a csv file we use - pd.read_csv()

In [32]:
import requests

url="https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"

file=pd.read_csv(url)
print(file.head()) #head prints the first five rows

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [33]:
#We can use the Shape function to know the shape of the file
print(file.shape)

#this shows (n,m) the data is of n records (Rows) split accorss m-columns

(150, 5)

In [34]:
import pandas as pd
import numpy as np

url="https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"


#to make the pandas use the column of the datasheet as index we can use the function ined_col
file=pd.read_csv(url, index_col=0)
print(file.head())

              sepal.width  petal.length  petal.width variety
sepal.length
5.1                   3.5           1.4          0.2  Setosa
4.9                   3.0           1.4          0.2  Setosa
4.7                   3.2           1.3          0.2  Setosa
4.6                   3.1           1.5          0.2  Setosa
5.0                   3.6           1.4          0.2  Setosa

## Indexing
With indexing we can select a specific data expelicitly to work on

In [35]:
#selectin only the variety column
print("The indexing : \n", file.variety.head())
print("\n",file['petal.length'].head())

The indexing :
 sepal.length
5.1    Setosa
4.9    Setosa
4.7    Setosa
4.6    Setosa
5.0    Setosa
Name: variety, dtype: object

 sepal.length
5.1    1.4
4.9    1.4
4.7    1.3
4.6    1.5
5.0    1.4
Name: petal.length, dtype: float64

index based selection
* loc()
* iloc()

they are both row first and column second functions

In [36]:
print(file.iloc[10:21,2:3]) #wor range and column range(row start : row end+1, column start : column end+1)

              petal.width
sepal.length
5.4                   0.2
4.8                   0.2
4.8                   0.1
4.3                   0.1
5.8                   0.2
5.7                   0.4
5.4                   0.4
5.1                   0.3
5.7                   0.3
5.1                   0.3
5.4                   0.2

In [37]:
#country population data
url = "https://raw.githubusercontent.com/datasets/population/main/data/population.csv"

data=pd.read_csv(url, index_col=1)
print(data.head(100))

#indexing using list
print(data.iloc[[1,100,300,400,500], 1:2])

                             Country Name  Year      Value
Country Code
ABW                                 Aruba  1960      54608
ABW                                 Aruba  1961      55811
ABW                                 Aruba  1962      56682
ABW                                 Aruba  1963      57475
ABW                                 Aruba  1964      58178
...                                   ...   ...        ...
AFE           Africa Eastern and Southern  1993  335625136
AFE           Africa Eastern and Southern  1994  344418362
AFE           Africa Eastern and Southern  1995  353466601
AFE           Africa Eastern and Southern  1996  362985802
AFE           Africa Eastern and Southern  1997  372352230

[100 rows x 3 columns]
              Year
Country Code
ABW           1961
AFE           1998
AGO           2012
AND           1988
ARE           1964

Lable-based selection
iloc(row, column)

In [38]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasets/population/main/data/population.csv"
data = pd.read_csv(url, index_col=1)

print(data.head(100))

# Indexing using integer positions
print(data.iloc[0, 2])

                             Country Name  Year      Value
Country Code
ABW                                 Aruba  1960      54608
ABW                                 Aruba  1961      55811
ABW                                 Aruba  1962      56682
ABW                                 Aruba  1963      57475
ABW                                 Aruba  1964      58178
...                                   ...   ...        ...
AFE           Africa Eastern and Southern  1993  335625136
AFE           Africa Eastern and Southern  1994  344418362
AFE           Africa Eastern and Southern  1995  353466601
AFE           Africa Eastern and Southern  1996  362985802
AFE           Africa Eastern and Southern  1997  372352230

[100 rows x 3 columns]
54608

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# Manipulating index
import pandas as pd

url = "https://raw.githubusercontent.com/datasets/population/main/data/population.csv"
data = pd.read_csv(url, index_col=0)

data = data.set_index("Index values")
print(data)

## Conditional Selection

* so far we have been indexing using structural properties of DataFrame.
* with conditional indexing we can select the wanted data