<a href="https://colab.research.google.com/github/ameer-salam/Notes/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
Python is a general purpose Programming language. It's Design philosophy emphasisi code redability
* it was developed by Guido van Rossum in 1993

## Advantages of Python
1. Easy to code,
2. Improved productivity,
3. Vast libraries
4. Career opportunities
5. used in many fields

How Youtube is using python - VIdeo recommendation, Personalised Ads and content.

## Fields Python is used
1. AI and ML
2. Data analytics
3. Programming apps,
4. web developement
5. Game developement

## Module wise topics are :
- [ ]  Introduction
- [ ] Installation
- [ ] Python Fundamentals
- [ ] Print functions
- [ ] Operators and Expressions
- [ ] Control FLow
- [ ] Loops
- [ ] Strings
- [ ] Lists
- [ ] Tuples
- [ ] Dictionaries
- [ ] Sets
- [ ] Python Functions
- [ ] OOPs
- [ ] File Handling
- [ ] Errors & Exception Handling

## Basic Fundamentals of Python

### print() function in Python

In [ ]:
#print statement
print("Hello World!")

Hello World!

### Variables in Python

In [ ]:
#variables
# varialbel_name =(addignment operator) Value_of_variable
x=10
print(x)

#conditions with Variables
'''
1. Variable name must start with charater or underscore (_)
2. variable name cannot start with number, and it can only contain alpha-numeric characters
3. variables in Python are case sensitive
4. variables are name given to a memory location in the Computer Memory
5. variables cannot be named with inbuilt Keywords
'''
# to know all the keywords
print("All the Keywords in Python are : \n")
help('keywords')

10
All the Keywords in Python are :


Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Heap vs Stack memory

| Aspect         | Stack Memory                                       | Heap Memory                                       |
|----------------|----------------------------------------------------|---------------------------------------------------|
| Purpose        | Used for storing local variables, function call     | Used for dynamic memory allocation, including    |
|                | frames, and other execution-related data.           | objects that are too large to fit on the stack   |
|                |                                                    | or have a longer lifetime than a single function |
|                |                                                    | call.                                             |
| Allocation     | Memory is allocated and deallocated automatically   | Memory is allocated and deallocated by Python's  |
| and Deallocation | by the Python interpreter as function calls are   | memory manager using techniques like reference   |
|                 | made and completed.                                | counting and garbage collection.                 |
| Data Lifetime  | Limited to the duration of the function call.      | Can have a longer lifetime and can persist      |
|                | Once the function returns, local variables         | beyond the duration of a single function call.   |
|                | and function call frames are deallocated.          |                                                   |
| Data Structure | Typically stores local variables, function call    | Stores objects created using constructors like   |
|                | frames, and other execution-related data.          | `list`, `dict`, `set`, or custom classes.       |
|                | Operates in a last-in-first-out (LIFO) manner.     |                                                   |
| Management     | Managed automatically by the Python interpreter.   | Managed by Python's memory manager using        |
|                | No need for manual memory management.              | techniques like reference counting and garbage  |
|                |                                                    | collection.                                       |
| Risk of Errors | Lower risk of memory-related errors like memory    | Lower risk of memory-related errors like memory |
|                | leaks or dangling pointers.                        | leaks or dangling pointers due to automatic     |
|                |                                                    | memory management.                                |

### Id Function

* it is a builtin function which returns the unique identidfier of the vairable (memory address) of the variable
* the identifer is gauranteed to be unique and constant throught the lifetime of the object.
* it is used to compare weather two variables(in Stack memory) refer to the same object in the memory(Heap memory)

In [ ]:
# using the id() function
x=10

print("The Address of the Variable is : ", id(x))

y=x

print("To check if the variable Y refers to teh same object in Heap memory")
print(id(y))
if(id(x)==id(y)):
  print("The varaible X and Y refer to the same object in the Heap memory")

The Address of the Variable is :  135744504021520
To check if the variable Y refers to teh same object in Heap memory
135744504021520
The varaible X and Y refer to the same object in the Heap memory

### Data Types in Python

1. Integers -oo to ooo
2. Floats -oo.D to oo.D (D - floating point)
3. Booleans
4. Strings
5. None

In [ ]:
#using the type() function to find the datatype of the given variable
a=98.99
print(a)
print("The datatype of A is : ", type(a))

98.99
The datatype of A is :  <class 'float'>

In [ ]:
#example of boolean data type
bool_type=True
# remember True and 'True' are different in Python
# 'True'is treated as a string and True is treated as Boolean value
print(bool_type)
print(type(bool_type))

True
<class 'bool'>

In [ ]:
#Strings
str1='Ameer Salam'
str2="Danish"
str3="""
Hi How are you?
I hope you are fine
"""

In [ ]:
print("\n", str1, "\n", str2,"\n", str3)

 Ameer Salam
 Danish
 "Hi How are you?

In [ ]:
#null
a=None
print(a)

None

### Input function input()

* by  default the input() function treates the object entered as **String**

In [ ]:
#input function
name=input()
print(name)

ameer

In [ ]:
a=int(input("Enter the number : ")) #example of type conversion
print("Square of ", a, " is : ", a**2)

Enter the number : 3
Square of  3  is :  9

## Print function

In [ ]:
# Printing multiple values in the same print statement
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65)

Ameer Salam Danish 21 23 20 99.87 78.45 67.65

In [ ]:
#the objects above in the print statement are printed with a space
print?
#in every print() statement, by default we have the seperator ' ' and '\n' at end line
#unsing Sererator function
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65, sep='\n')

Ameer
Salam
Danish
21
23
20
99.87
78.45
67.65

In [ ]:
print("Ameer", 21)
#after applyong seperator
print("Ameer", 21, sep='->')

Ameer 21
Ameer->21

In [ ]:
#chaning the end line in print()
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65, sep=' ->> ', end='\t->\t')
print("Printed after the first STATEMENT")

Ameer ->> Salam ->> Danish ->> 21 ->> 23 ->> 20 ->> 99.87 ->> 78.45 ->> 67.65	->	Printed after the first STATEMENT

## Operators in Python
* Epression is a combinition of operator (+/-/*) and operand(a,b,c)

### Arithematic Operators

In [6]:
#mathematic operators
a=5
b=3

print(a+b)
print(a-b)
print(a/b) #division operator will alwasy yeild float values
print(a*b) #python prints the last value automatically(implicitly)

first='Ameer '
last='Salam'
fullname=first+last #no string multiplication, subtraction and division
print(fullname)
print(fullname*3)

8
2
1.6666666666666667
15
Ameer Salam
('Ameer Salam', '\t', 'Ameer Salam', '\t', 'Ameer Salam', '\t')

In [7]:
#modulo operator
#modulo operator yeilds REMINDER

a=50
b=5
print("Performing Division Operator : ", a/b)
print("Performing Modulo Operator : ", a%b)

Performing Division Operator :  10.0
Performing Modulo Operator :  0

In [12]:
#floor division operator
#floor division yeilds neartest integer value

a=8
b=3
print("Performing Division : ", a/b)
print("Performing Floor Division // : ", a//b)

Performing Division :  2.6666666666666665
Performing Floor Division // :  2

In [18]:
#power operator
a=5
b=3

print(a, b, sep="\n")
print("5 to the power of 3 is : ", a**b, end="\n")

5
3
5 to the power of 3 is :  125

### Comparision Operattors
* it always return boolean value
* some of the Comparission operators are:
  * *==*
  * *>=*
  * <=
  * *!=*
  * *>*
  * *>*

### Assignment operator
* "="
* "+="
* "-="
* "/="
* "*="

In [19]:
a=3
print(a)

3

In [28]:
#a=a+3 can also be written as

a=3
a+=3
print(a)

a-=3
print(a)

a/=3
print(a)

b=9
b*=3
print(b)

6
3
1.0
27

### Logical Operators
* takes in boolean and gives boolean values

* and
* or
* not


1. **AND Truth Table**:

| A   | B   | A AND B |
| --- | --- | ------- |
| False | False | False   |
| False | True  | False   |
| True  | False | False   |
| True  | True  | True    |

In the AND operation, the result is true only if both A and B are true.

2. **OR Truth Table**:

| A   | B   | A OR B  |
| --- | --- | ------- |
| False | False | False   |
| False | True  | True    |
| True  | False | True    |
| True  | True  | True    |

In the OR operation, the result is true if at least one of A or B is true.

3. **NOT Truth Table**:

| A   | NOT A |
| --- | ----- |
| False | True  |
| True  | False |

In the NOT operation, the result is the opposite of the input value.

### Special Operators

1. **Identity Operator**
  * is
  * not is
2. **Membership Operator**
  * in - finds specified value
  * not in
3. **Bitwise Operator**
  * & - Bitwise AND
  * | - Bitwise OR
  * ^ - Bitwise XOR
  * '' - Bitwise NOT
  * << - Left shift
  * >> - Right shift

In [29]:
name = "Ameer Salam"

In [35]:
print("z" in name)
print("S" in name)

False
True

In [36]:
print("z" not in name)
print("S" not in name)

True
False

In [41]:
print(("Z" in name) is False)
print(("A" in name) is False)

True
False

In [43]:
a=5
b=a
c=10
aAdd=id(a)
bAdd=id(b)
cAdd=id(c)

print("Is A and B refering to same object : ", a is b)
print("Is A and C refering to same object : ", a is c)

Is A and B refering to same object :  True
Is A and C refering to same object :  False

## Control Flow Statements
Taking decission based on certain conditions

1. **Conditional Statements** - if, if-else, if-elif-else
2. **loops** - for, while
3. **loop control statements** - break, continue, pass
5. **Exception Handline** - try-except, try-except-finally

In [3]:
#if-else condition

age=int(input("Enter your age"))
if(age>18):
  print("You can drive a car!")
else:
  print("You cannot drive a car")

Enter your age3
You cannot drive a car

In [5]:
#if-elif-else condition

age=int(input("Enter your age"))
if(age>18):
  print("You can drive a car!")
elif(age>=16 & age<18):
  print("You can drive a car. But, with elders only!")
else:
  print("You cannot drive a car")

Enter your age16
You can drive a car. But, with elders only!