<a href="https://colab.research.google.com/github/ameer-salam/Notes/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Python Notebook for Beginners, encompassing fundamental Python concepts including Object-Oriented Programming (OOP), has been authored by Ameer Salam, contactable at ameersuz3@gmail.com, as of March 1st, 2024.

Connect with Ameer Salam:

LinkedIn: https://www.linkedin.com/in/ameersalam/
GitHub: https://github.com/ameer-salam
YouTube: https://www.youtube.com/channel/UCGQVN9LXw1yL4evtWx15K5A

Within this notebook, you will discover a comprehensive explanation of basic Python concepts presented systematically, facilitating easy comprehension through illustrative code examples.

Should you find this Notebook engaging, we encourage you to share it within the community, fostering knowledge exchange and collaboration

![image.png]()
# Python
Python is a general purpose Programming language. It's Design philosophy emphasisi code redability
* it was developed by Guido van Rossum in 1993

## Advantages of Python
1. Easy to code,
2. Improved productivity,
3. Vast libraries
4. Career opportunities
5. used in many fields

How Youtube is using python - VIdeo recommendation, Personalised Ads and content.

## Fields Python is used
1. AI and ML
2. Data analytics
3. Programming apps,
4. web developement
5. Game developement

## Module wise topics are :
- [ ]  Introduction
- [ ] Installation
- [ ] Python Fundamentals
- [ ] Print functions
- [ ] Operators and Expressions
- [ ] Control FLow
- [ ] Loops
- [ ] Strings
- [ ] Lists
- [ ] Tuples
- [ ] Dictionaries
- [ ] Sets
- [ ] Python Functions
- [ ] OOPs
- [ ] File Handling
- [ ] Errors & Exception Handling

## Basic Fundamentals of Python

### print() function in Python

In [ ]:
#print statement
print("Hello World!")

Hello World!

### Variables in Python

In [ ]:
#variables
# varialbel_name =(addignment operator) Value_of_variable
x=10
print(x)

#conditions with Variables
'''
1. Variable name must start with charater or underscore (_)
2. variable name cannot start with number, and it can only contain alpha-numeric characters
3. variables in Python are case sensitive
4. variables are name given to a memory location in the Computer Memory
5. variables cannot be named with inbuilt Keywords
'''
# to know all the keywords
print("All the Keywords in Python are : \n")
help('keywords')

10
All the Keywords in Python are :


Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Heap vs Stack memory

| Aspect         | Stack Memory                                       | Heap Memory                                       |
|----------------|----------------------------------------------------|---------------------------------------------------|
| Purpose        | Used for storing local variables, function call     | Used for dynamic memory allocation, including    |
|                | frames, and other execution-related data.           | objects that are too large to fit on the stack   |
|                |                                                    | or have a longer lifetime than a single function |
|                |                                                    | call.                                             |
| Allocation     | Memory is allocated and deallocated automatically   | Memory is allocated and deallocated by Python's  |
| and Deallocation | by the Python interpreter as function calls are   | memory manager using techniques like reference   |
|                 | made and completed.                                | counting and garbage collection.                 |
| Data Lifetime  | Limited to the duration of the function call.      | Can have a longer lifetime and can persist      |
|                | Once the function returns, local variables         | beyond the duration of a single function call.   |
|                | and function call frames are deallocated.          |                                                   |
| Data Structure | Typically stores local variables, function call    | Stores objects created using constructors like   |
|                | frames, and other execution-related data.          | `list`, `dict`, `set`, or custom classes.       |
|                | Operates in a last-in-first-out (LIFO) manner.     |                                                   |
| Management     | Managed automatically by the Python interpreter.   | Managed by Python's memory manager using        |
|                | No need for manual memory management.              | techniques like reference counting and garbage  |
|                |                                                    | collection.                                       |
| Risk of Errors | Lower risk of memory-related errors like memory    | Lower risk of memory-related errors like memory |
|                | leaks or dangling pointers.                        | leaks or dangling pointers due to automatic     |
|                |                                                    | memory management.                                |

### Id Function

* it is a builtin function which returns the unique identidfier of the vairable (memory address) of the variable
* the identifer is gauranteed to be unique and constant throught the lifetime of the object.
* it is used to compare weather two variables(in Stack memory) refer to the same object in the memory(Heap memory)

In [ ]:
# using the id() function
x=10

print("The Address of the Variable is : ", id(x))

y=x

print("To check if the variable Y refers to teh same object in Heap memory")
print(id(y))
if(id(x)==id(y)):
  print("The varaible X and Y refer to the same object in the Heap memory")

The Address of the Variable is :  135744504021520
To check if the variable Y refers to teh same object in Heap memory
135744504021520
The varaible X and Y refer to the same object in the Heap memory

### Data Types in Python

1. Integers -oo to ooo
2. Floats -oo.D to oo.D (D - floating point)
3. Booleans
4. Strings
5. None

In [ ]:
#using the type() function to find the datatype of the given variable
a=98.99
print(a)
print("The datatype of A is : ", type(a))

98.99
The datatype of A is :  <class 'float'>

In [ ]:
#example of boolean data type
bool_type=True
# remember True and 'True' are different in Python
# 'True'is treated as a string and True is treated as Boolean value
print(bool_type)
print(type(bool_type))

True
<class 'bool'>

In [ ]:
#Strings
str1='Ameer Salam'
str2="Danish"
str3="""
Hi How are you?
I hope you are fine
"""

In [ ]:
print("\n", str1, "\n", str2,"\n", str3)

 Ameer Salam
 Danish
 "Hi How are you?

In [ ]:
#null
a=None
print(a)

None

### Input function input()

* by  default the input() function treates the object entered as **String**

In [ ]:
#input function
name=input()
print(name)

ameer

In [ ]:
a=int(input("Enter the number : ")) #example of type conversion
print("Square of ", a, " is : ", a**2)

Enter the number : 3
Square of  3  is :  9

## Print function

In [ ]:
# Printing multiple values in the same print statement
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65)

Ameer Salam Danish 21 23 20 99.87 78.45 67.65

In [ ]:
#the objects above in the print statement are printed with a space
print?
#in every print() statement, by default we have the seperator ' ' and '\n' at end line
#unsing Sererator function
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65, sep='\n')

Ameer
Salam
Danish
21
23
20
99.87
78.45
67.65

In [ ]:
print("Ameer", 21)
#after applyong seperator
print("Ameer", 21, sep='->')

Ameer 21
Ameer->21

In [ ]:
#chaning the end line in print()
print("Ameer", "Salam", "Danish", 21, 23, 20, 99.87, 78.45, 67.65, sep=' ->> ', end='\t->\t')
print("Printed after the first STATEMENT")

Ameer ->> Salam ->> Danish ->> 21 ->> 23 ->> 20 ->> 99.87 ->> 78.45 ->> 67.65	->	Printed after the first STATEMENT

## Operators in Python
* Epression is a combinition of operator (+/-/*) and operand(a,b,c)

### Arithematic Operators

In [ ]:
#mathematic operators
a=5
b=3

print(a+b)
print(a-b)
print(a/b) #division operator will alwasy yeild float values
print(a*b) #python prints the last value automatically(implicitly)

first='Ameer '
last='Salam'
fullname=first+last #no string multiplication, subtraction and division
print(fullname)
print(fullname*3)

8
2
1.6666666666666667
15
Ameer Salam
('Ameer Salam', '\t', 'Ameer Salam', '\t', 'Ameer Salam', '\t')

In [ ]:
#modulo operator
#modulo operator yeilds REMINDER

a=50
b=5
print("Performing Division Operator : ", a/b)
print("Performing Modulo Operator : ", a%b)

Performing Division Operator :  10.0
Performing Modulo Operator :  0

In [ ]:
#floor division operator
#floor division yeilds neartest integer value

a=8
b=3
print("Performing Division : ", a/b)
print("Performing Floor Division // : ", a//b)

Performing Division :  2.6666666666666665
Performing Floor Division // :  2

In [ ]:
#power operator
a=5
b=3

print(a, b, sep="\n")
print("5 to the power of 3 is : ", a**b, end="\n")

5
3
5 to the power of 3 is :  125

### Comparision Operattors
* it always return boolean value
* some of the Comparission operators are:
  * *==*
  * *>=*
  * <=
  * *!=*
  * *>*
  * *>*

### Assignment operator
* "="
* "+="
* "-="
* "/="
* "*="

In [ ]:
a=3
print(a)

3

In [ ]:
#a=a+3 can also be written as

a=3
a+=3
print(a)

a-=3
print(a)

a/=3
print(a)

b=9
b*=3
print(b)

6
3
1.0
27

### Logical Operators
* takes in boolean and gives boolean values

* and
* or
* not


1. **AND Truth Table**:

| A   | B   | A AND B |
| --- | --- | ------- |
| False | False | False   |
| False | True  | False   |
| True  | False | False   |
| True  | True  | True    |

In the AND operation, the result is true only if both A and B are true.

2. **OR Truth Table**:

| A   | B   | A OR B  |
| --- | --- | ------- |
| False | False | False   |
| False | True  | True    |
| True  | False | True    |
| True  | True  | True    |

In the OR operation, the result is true if at least one of A or B is true.

3. **NOT Truth Table**:

| A   | NOT A |
| --- | ----- |
| False | True  |
| True  | False |

In the NOT operation, the result is the opposite of the input value.

### Special Operators

1. **Identity Operator**
  * is
  * not is
2. **Membership Operator**
  * in - finds specified value
  * not in
3. **Bitwise Operator**
  * & - Bitwise AND
  * | - Bitwise OR
  * ^ - Bitwise XOR
  * '' - Bitwise NOT
  * << - Left shift
  * >> - Right shift

In [ ]:
name = "Ameer Salam"

In [ ]:
print("z" in name)
print("S" in name)

False
True

In [ ]:
print("z" not in name)
print("S" not in name)

True
False

In [ ]:
print(("Z" in name) is False)
print(("A" in name) is False)

True
False

In [ ]:
a=5
b=a
c=10
aAdd=id(a)
bAdd=id(b)
cAdd=id(c)

print("Is A and B refering to same object : ", a is b)
print("Is A and C refering to same object : ", a is c)

Is A and B refering to same object :  True
Is A and C refering to same object :  False

## Control Flow Statements
Taking decission based on certain conditions

1. **Conditional Statements** - if, if-else, if-elif-else
2. **loops** - for, while
3. **loop control statements** - break, continue, pass
5. **Exception Handline** - try-except, try-except-finally

In [ ]:
#if-else condition

age=int(input("Enter your age"))
if(age>18):
  print("You can drive a car!")
else:
  print("You cannot drive a car")

Enter your age3
You cannot drive a car

In [ ]:
#if-elif-else condition

age=int(input("Enter your age"))
if(age>18):
  print("You can drive a car!")
elif(age>=16 & age<18):
  print("You can drive a car. But, with elders only!")
else:
  print("You cannot drive a car")

Enter your age16
You can drive a car. But, with elders only!

In [ ]:
#nested if-else

age=int(input("Enter your age : "))
if(age>=18):
  #nested if else
  if(age>=70):
    print("It is suggested you dont drive your car!")
  else:
    print("You can drive a car!")
elif(age>=16 & age<18):
  print("You can drive a car. But, with elders only!")
else:
  print("You cannot drive a car. Wait till you are 18")

Enter your age : 45
You can drive a car!

In [ ]:
#problem with if-if-else

n=int(input("Enter the number : "))
if n>0:
  print("Positive")
if n==0:
  print("Zero number")
else:
  print("Negative")

  '''
  what happens her is :
  1. when we declare if-else statement,
  2. if the else's corresponding if statement is not executed, then the associated else statement is executed
  3. you can see that here, as first if was executed, but then the next if was skippend and automatically else was executed
  4. solution - elif  """

Enter the number : 4
Positive
Negative

In [ ]:
# the problem is solved in this code
n=int(input("Enter the number : "))
if n>0:
  print("Positive")
elif n==0:
  print("Zero number")
else:
  print("Negative")

Enter the number : 4
Positive

In [ ]:
# Find Maximun and Minumum in a list

marks=[96,67,98,45,98]
print("Maximum marks are : ",max(marks))
print("Minimum marks are : ",min(marks))

Maximum marks are :  98
Minimum marks are :  45

In [ ]:
marks = [96, 67, 98, 45, 98]
print(marks)
for mark in marks:
    if mark > 90:
        print("A grade")
    elif mark >= 80:
        print("B grade")
    elif mark >= 70:
        print("C grade")
    elif mark >= 60:
        print("D grade")
    elif mark >= 40:
        print("E grade")
    else:
        print("Fail")

[96, 67, 98, 45, 98]
A grade
D grade
A grade
E grade
A grade

## Loops in Python
Repreating the same block of code until the conditions are met

1. While loop
2. for loop

In [ ]:
#simple while loop
n=0
while n<5:
  print("The value of n is : ",n)
  n+=1 #update

The value of n is :  0
The value of n is :  1
The value of n is :  2
The value of n is :  3
The value of n is :  4

In [ ]:
#printing all numbers from 1 to 10
i=1
while i<=10:
  print(i, end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#printing even number from 0 to 10
i=1
while i<=10:
  if(i%2==0):
     print(i, end=" ")
  i+=1

2 4 6 8 10

In [ ]:
#printing odd numbers from 0 to 10
i=1
while i<=10:
  if(i%2!=0):
     print(i, end=" ")
  i+=1

1 3 5 7 9

In [ ]:
#print sum of all numbers from 1 to 10
i=1
sum=0
while i<=10:
  sum=sum+i
  i+=1
print("The sum of all numbers from 1 to 10 are : ",sum)

The sum of all numbers from 1 to 10 are :  55

### Range Function
syntax - `range(start, stop, jump)`
if you give single parameter it is considered as end `range(end)` - here, default start is 0 and default jump is 1

In [ ]:
arr=list(range(10))
print(arr)

arr=list(range(10, 21))
print(arr)

arr=list(range(20, 101, 5))
print(arr)


#reverse ranging
arr=list(range(100, 19, -5))
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20]

### Iterator, Iterable and Iteration

| Concept    | Definition                                                                                                       | Example                                    |
|------------|------------------------------------------------------------------------------------------------------------------|--------------------------------------------|
| Iterable   | An object that can be iterated over; it can be passed to a `for` loop or functions like `list()`, `tuple()`, etc. | Lists, tuples, dictionaries, strings, sets |
| Iterator   | An object used to traverse an iterable; it implements `__iter__()` and `__next__()` methods                       | `iter()` function, custom iterators        |
| Iteration  | The process of accessing each element of an iterable using an iterator                                            | `for` loop, manual iteration with `__next__()` method |

In [ ]:
# using for loop to print number from 1 to 10

#i : iterator
#range : iterable

for i in range(1, 11):
  print(i, end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#print multiplication table using for loop

i=int(input("Enter the table number : "))
n=1
for n in range(1, 11):
  print(i,'x',n,'=',i*n, sep=' ')
  n+=1

Enter the table number : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

### Nested for loop

In [ ]:
#printing pattern

i=int(input("Enter the pattern size"))
n=0
for n in range(1, i+1):
  for m in range(1, i+1):
    print("#", end='')
  print("\n")

Enter the pattern size3
###

###

###

In [ ]:
# drawing star pattersn

i=int(input("Enter the Size to be recorded : "))
for n in range(1, i+1):
  for m in range(1, n+1):
    print("*", end="")
  print("")

Enter the Size to be recorded : 4
*
**
***
****

In [ ]:
#printing the above in reverse
i=int(input("Enter the Size to be recorded : "))
for n in range(i, 0, -1):
  for m in range(n, 0, -1):
    print("*", end="")
  print("")

Enter the Size to be recorded : 4
****
***
**
*

### Break, Continue, and Pass


| Statement  | Description                                                                                                           | Example                                                                 |
|------------|-----------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------|
| `break`    | Terminates the execution of the nearest enclosing loop statement or `switch` statement.                               | ```python                                                                ```<br>```for i in range(5):```<br>```    if i == 3:```<br>```        break```<br>```    print(i)```<br>```# Output: 0 1 2```     |
| `continue` | Skips the rest of the current iteration of the loop and proceeds to the next iteration.                              | ```python                                                                ```<br>```for i in range(5):```<br>```    if i == 2:```<br>```        continue```<br>```    print(i)```<br>```# Output: 0 1 3 4``` |
| `pass`     | Placeholder that does nothing when executed; used as a placeholder in situations where a statement is syntactically required but no action is needed. | ```python```<br>```for i in range(5):```<br>```    if i == 2:```<br>```        pass```<br>```    print(i)```<br>```# Output: 0 1 2 3 4```  |

In [ ]:
# pass statement
'''you cannot leave a function of a loop empty'''
'''hence you can use the pass function'''

#example
for i in range(1, 11):
  print("Assalamualikum world!")

#if you remove the statement in line number 7, then it returns an error.
# you cannot keep it empty but you can use the pass function

print("Using pass")
for i in range(1, 11):
  pass
  #print("Assalamualikum world!")

Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Assalamualikum world!
Using pass

In [ ]:
#using COntinue statemet
#it skips the current iteration and moves to another

i=int(input("Enter the Number : "))
for n in range(1, 11):
  if(n%3==0):
    continue
  else:
    print(i,'x',n,'=', i*n)

Enter the Number : 7
7 x 1 = 7
7 x 2 = 14
7 x 4 = 28
7 x 5 = 35
7 x 7 = 49
7 x 8 = 56
7 x 10 = 70

In [ ]:
#break - it is used to exit from the neartest corresponding loop
#using COntinue statemet
#it skips the current iteration and moves to another

i=int(input("Enter the Number : "))
for n in range(1, 11):
  if(n%7==0):
    break
  else:
    print(i,'x',n,'=', i*n)

Enter the Number : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54

## Strings in python

1. Strings are Sequence of characters
2. they can be defined using single, double or tripple quotes

### Odr and Chr
1. using the ord("char") - we can find the order of a given character in terms of integer
2. using the char(int) - we can find the character associated with a given number

In [ ]:
ord('a')

97

In [ ]:
ord('z')

122

In [ ]:
ord('A')

65

In [ ]:
ord('Z')

90

In [ ]:
ord('#')

35

In [ ]:
chr(67)

'C'

In [ ]:
chr(98)

'b'

### Indexing in a String
* starts from 0
* Indexing
  *  positive indexing - index=n-1
  *  negative indexing - index=-n

In [ ]:
name="Ameer Salam"
print(name[-1])

m

### String slicing
* String slicing - string_name[Start:end]

In [ ]:
name='Ameer Salam'
print(name[::2])

AerSlm

### String *Methods*

| Method          | Description                                                                                                                                                                      | Example                                                                                                        |
|-----------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------|
| `capitalize()`  | Returns a copy of the string with the first character capitalized and the rest lowercased.                                                                                      | `s = "hello world"`<br>`print(s.capitalize())`<br>Output: `Hello world`                                      |
| `upper()`       | Returns a copy of the string with all characters converted to uppercase.                                                                                                        | `s = "hello world"`<br>`print(s.upper())`<br>Output: `HELLO WORLD`                                            |
| `lower()`       | Returns a copy of the string with all characters converted to lowercase.                                                                                                        | `s = "Hello World"`<br>`print(s.lower())`<br>Output: `hello world`                                            |
| `title()`       | Returns a copy of the string with the first character of each word capitalized and the rest lowercased.                                                                         | `s = "hello world"`<br>`print(s.title())`<br>Output: `Hello World`                                            |
| `strip()`       | Returns a copy of the string with leading and trailing whitespace removed.                                                                                                       | `s = "  hello world  "`<br>`print(s.strip())`<br>Output: `hello world`                                       |
| `replace()`     | Returns a copy of the string with all occurrences of a specified substring replaced with another substring.                                                                     | `s = "hello world"`<br>`print(s.replace('world', 'python'))`<br>Output: `hello python`                        |
| `split()`       | Splits the string into a list of substrings based on a specified delimiter (default is whitespace).                                                                            | `s = "hello world"`<br>`print(s.split())`<br>Output: `['hello', 'world']`                                    |
| `join()`        | Joins elements of an iterable (such as a list) into a single string with the string acting as a separator between each element.                                                   | `words = ['hello', 'world']`<br>`print(' '.join(words))`<br>Output: `hello world`                              |
| `startswith()`  | Returns `True` if the string starts with the specified prefix; otherwise, returns `False`.                                                                                     | `s = "hello world"`<br>`print(s.startswith('hello'))`<br>Output: `True`                                      |
| `endswith()`    | Returns `True` if the string ends with the specified suffix; otherwise, returns `False`.                                                                                       | `s = "hello world"`<br>`print(s.endswith('world'))`<br>Output: `True`                                         |
| `find()`        | Returns the lowest index of the substring if it is found in the string; otherwise, returns `-1`.                                                                                | `s = "hello world"`<br>`print(s.find('world'))`<br>Output: `6`                                                |
| `index()`       | Similar to `find()`, but raises a `ValueError` if the substring is not found in the string.                                                                                    | `s = "hello world"`<br>`print(s.index('world'))`<br>Output: `6`                                               |
| `count()`       | Returns the number of occurrences of a specified substring in the string.                                                                                                       | `s = "hello world"`<br>`print(s.count('l'))`<br>Output: `3`                                                   |
| `isalpha()`     | Returns `True` if all characters in the string are alphabetic (letters); otherwise, returns `False`.                                                                           | `s = "hello"`<br>`print(s.isalpha())`<br>Output: `True`                                                       |
| `isdigit()`     | Returns `True` if all characters in the string are digits; otherwise, returns `False`.                                                                                         | `s = "123"`<br>`print(s.isdigit())`<br>Output: `True`                                                         |
| `isspace()`     | Returns `True` if all characters in the string are whitespace (spaces, tabs, newline); otherwise, returns `False`.                                                             | `s = " "`<br>`print(s.isspace())`<br>Output: `True`                                                          |
| `startswith()`  | Returns `True` if the string starts with the specified prefix; otherwise, returns `False`.                                                                                     | `s = "hello world"`<br>`print(s.startswith('hello'))`<br>Output: `True`                                      |
| `endswith()`    | Returns `True` if the string ends with the specified suffix; otherwise, returns `False`.                                                                                       | `s = "hello world"`<br>`print(s.endswith('world'))`<br>Output: `True`                                         |
| `partition()`   | Returns a tuple containing three elements: the part before the separator, the separator itself, and the part after the separator.                                               | `s = "hello world"`<br>`print(s.partition(' '))`<br>Output: `('hello', ' ', 'world')`                         |
| `center()`      | Returns a centered string of specified width with the original string centered and padded with specified fillchar (default is space).                                             | `s = "hello"`<br>`print(s.center(10, '*'))`<br>Output: `**

In [ ]:
#string methods
n='ameer salam'

print(n.capitalize())
print(n.upper())
print(n.lower())
n='ameersalam'
print(n.isalpha())
no='324'
print(no.isdigit())
n='ameer salam'
print(n.find('la'))
print(n.count('l'))
print(n.replace('l', "L"))
print(n.split())
print(n.isupper())
print(n.islower())

Ameer salam
AMEER SALAM
ameer salam
True
True
8
1
ameer saLam
['ameer', 'salam']
False
True

### String Formatting

In [ ]:
name='Ameer Salam'
age=21

string='My name is {} and my age is {}'

print(f'My name is {name} and my age is {age}') #this is available in version 3.6 and above

My name is Ameer Salam and my age is 21

In [ ]:
#string concatination

name='Ameer Salam'
age='21'
print(name + age)

Ameer Salam21

In [ ]:
### String challenge
string='The quick brown forx jumps over the lazy dog'

#print only the ovels
for s in string:
  if((s=='a') or (s=='e') or (s=='i') or (s=='o') or (s=='u')):
    print(s)
  else:
    continue

e
u
i
o
o
u
o
e
e
a
o

In [ ]:
#check for palindrome
name=str(input("Enter the string : "))
name2=name[::-1]

print(f"Original string : {name}")
print(f"Reversed string : {name2}")
if(name==name2):
  print("Palindrome String")
else:
  print("The string is not Palindrome")

Enter the string : radar
Original string : radar
Reversed string : radar
Palindrome String

## Data Structures
* Data structures are used to store the data in commputer memory in a well organised manner
* it is easy to retrieve and process the data
* types of Data structures with Python :
  * lists,
  * Dictonaries
  * sets
  * Tuples

#### Lists
1. ordered collection of data,
2. syntax -
  1. l=[1,2,3,4]
  2. l=list()
3. Indexing in List starts from 0
4. you can also use negative indexing
5. it is a mutable type of Data Structure,
6. lists are iterable
7. we can also perform slicing on lists

### **Mutable v/s Immutable objects**
In Python, data structures can be categorized as either mutable or immutable based on whether their contents can be changed after creation. Here's a brief explanation of mutable and immutable data structures:

1. **Mutable Data Structures**:
   - Mutable data structures are those whose contents can be modified after creation.
   - When you modify a mutable object, you are actually changing the object in-place, without creating a new object.
   - Examples of mutable data structures in Python include lists, dictionaries, and sets.
   - For example, you can add, remove, or modify elements in a list, dictionary, or set after it has been created.

2. **Immutable Data Structures**:
   - Immutable data structures are those whose contents cannot be modified after creation.
   - When you "modify" an immutable object, you are actually creating a new object with the modified content, leaving the original object unchanged.
   - Examples of immutable data structures in Python include strings, tuples, and frozensets.
   - For example, once a string or tuple is created, you cannot change its contents. Instead, you have to create a new string or tuple with the desired modifications.


| Property           | Mutable Data Structures                                 | Immutable Data Structures                             |
|--------------------|---------------------------------------------------------|--------------------------------------------------------|
| Modifiability      | Can be modified after creation                          | Cannot be modified after creation                      |
| Examples           | Lists, dictionaries, sets                               | Strings, tuples, frozensets                            |
| Memory Efficiency  | Less memory efficient (may need to allocate more memory when modified) | More memory efficient (no need to allocate extra memory for modifications) |
| Usage              | Used when you need to modify the contents frequently    | Used when you want to ensure the contents remain constant and unchanged |

In [ ]:
#demonstrating Mutable and Immutable objects
str1='Ameer Salam'
n1=list([1,2,3,4])

print("Before demonstrating the mutable and immutable objects")
print(f"The string {str1} is at memory location {id(str1)}")
print(f"The List {n1} is at memory location {id(n1)}")

print("After demonstrating the mutable and immutable objects")
str1='Salam Ameer'
n1[0]=0
print(f"The string {str1} is at memory location {id(str1)}")
print(f"The List {n1} is at memory location {id(n1)}")
print("You can see the mutable object - List is at same address whereas the address of the String variable has changed")

Before demonstrating the mutable and immutable objects
The string Ameer Salam is at memory location 132487423875248
The List [1, 2, 3, 4] is at memory location 132487423541888
After demonstrating the mutable and immutable objects
The string Salam Ameer is at memory location 132487423870960
The List [0, 2, 3, 4] is at memory location 132487423541888
You can see the mutable object - List is at same address whereas the address of the String variable has changed

In [ ]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [ ]:
#demonstrating iteration with lists
l=[1,2,3,4,5,6,7,8,9,0]
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
0

### list slicing

In [ ]:
l=[1,2,3,4,5,6,7,8,9,0]
print(l)
print(f"list slicing to get even numbers in reverse order : {l[::-2]}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
list slicing to get even numbers in reverse order : [0, 8, 6, 4, 2]

### List Operations

Various methods on Lists are:
1. count
2. iindex
3. pop
4. remove
5. sort
6. insert
7. append
8. extend

In [ ]:
budget_list=[100, 200,300,200,150,100,120,300]
print(f"How many times 100 millison were spent : {budget_list.count(100)}")
print(budget_list.index(300))
print(budget_list)
budget_list.remove(120)
print(budget_list)
budget_list.sort()
print(f"sorting the given list : ", budget_list)
#inserting new element
budget_list.insert(0, 450)
print(budget_list)

How many times 100 millison were spent : 2
2
[100, 200, 300, 200, 150, 100, 120, 300]
[100, 200, 300, 200, 150, 100, 300]
sorting the given list :  [100, 100, 150, 200, 200, 300, 300]
[450, 100, 100, 150, 200, 200, 300, 300]

### Append and Extend
1. Append:
  * append happens at the last index,
  * append can insert data of any datatype to be inserted into the list

2. Extend:
  * with extend fuction, we can add a new item into the reoccuring list and can also provide seperate mmemory adddressing too

In [ ]:
lst=[3,4,7,8,1,4]
print(lst)
lst.append("END!")
print(lst)

[3, 4, 7, 8, 1, 4]
[3, 4, 7, 8, 1, 4, 'END!']

In [ ]:
#appending two lists together
l1=[1,2,3,4,5,6,7]
l2=[3,5,2,7]

l1.append(l2)
print(l1) #the appended list collectively has only one index when referd to the l1

[1, 2, 3, 4, 5, 6, 7, [3, 5, 2, 7]]

In [ ]:
#expanding the Extend function
#XXXXXXXXXXXXXXXXXXXXXXXppending two lists together
l1=[1,2,3,4,5,6,7]
l2=[3,5,2,7]

l1.extend(l2)
print(l1) #the expandedn list collectively has its own index for each of its elements when referd to the l1

[1, 2, 3, 4, 5, 6, 7, 3, 5, 2, 7]

### Heterogenous list

1. it contains data of different data types

In [ ]:
l1=[1,2,3,4,5,6,7]
l2=['Hello']
l1.append(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, ['Hello']]

### 2D list
* they are heterogenous lists, with lists inside another lists

In [ ]:
#example of 2-D/multi dimensional list
l1=[1,2,3,4]
l2=[4,5,6,7]
l3=[7,8,9,0]
l=[l1, l2, l3]
print(l)
print(f"Printing the sencond element of the list: {l[1]}")
print(f"Printing the sencond element of l2 of the main list: {l[1][1]}")

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 0]]
Printing the sencond element of the list: [4, 5, 6, 7]
Printing the sencond element of l2 of the main list: 5

In [ ]:
#iteration in a 2D list
#iteratiing in a single dimensional list

l=[1,2,3,4,5]
for i in l:
  print(i)

##multidimensional iteration
print("Multi dim")
l=[[1,2,3,4], [4,5,6,7], [7,8,9,0]]
for i in l:
  for j in i:
    print(j)

1
2
3
4
5
Multi dim
1
2
3
4
4
5
6
7
7
8
9
0

### List comprehension

In [ ]:
l=[]
i=0
for i in range(0, 101):
  l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# List comprehension methods

l=[i for i in range(0, 11)]
print(l)
l=[(i**98) for i in range(0, 11)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 316912650057057350374175801344, 57264168970223481226273458862846808078011946889, 100433627766186892221372630771322662657637687111424552206336, 315544362088404722164691426113114491869282574043609201908111572265625, 18147739541668636280463618532168272792698436402026524209529776843597142818816, 66009724686219550843768321818371771650147004059278069406814190436565131829325062449, 31828687130226345097944463881396533766429193651030253916189694521162207808802136034115584, 3279185047850305794305942247355304034928808057449314765118209404186327048164224481412156778321, 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000]

## Tuples
* Tuples follow indexing and are ordered collection of data,
* they are immutble, also known as frozen data
* iterable and can be heretoronous
* tuples use () brackets insteas of [] like list

In [ ]:
t=(1,2,3,4,5)
print(t, type(t))
# t[3]=4 this statement gives error as tuples are immutable Data Structures
tp=('Ameer', 'Salam', 'Suzain', 2,4,True)
print(tp) # tuples are heterogenous datastructures which can have multiple type of data

t2=tuple("Ameer Salam")
print(t2)

(1, 2, 3, 4, 5) <class 'tuple'>
('Ameer', 'Salam', 'Suzain', 2, 4, True)
('A', 'm', 'e', 'e', 'r', ' ', 'S', 'a', 'l', 'a', 'm')

### Important : Explicit declaration of Tuple

In [ ]:
#the below example of tuple can be considered as a integer by the computer
i=(2)
print(i, type(i))

#since there is single object in the tuple and integer expressions can be expressed with brackets,
#example - (i+1), hence tuple thinks its an integer
#to avoid this,

i=(2,)
print(i, type(i))

2 <class 'int'>
(2,) <class 'tuple'>

### Mutability in Tuples
tuples are not mutable, but their contents can be mutable if they are mutable objects

In [ ]:
#example of tuple mutability

tp=['Ameer Salamm', 2, 4, 'Salam', [1,2,3,4,5], True]
print(f"Befor mutation {tp}")
tp[1]=3
print(f"After 1st mutation {tp}")
tp[4][2]=99999
print(f"After 2nd mutation {tp}")

Befor mutation ['Ameer Salamm', 2, 4, 'Salam', [1, 2, 3, 4, 5], True]
After 1st mutation ['Ameer Salamm', 3, 4, 'Salam', [1, 2, 3, 4, 5], True]
After 2nd mutation ['Ameer Salamm', 3, 4, 'Salam', [1, 2, 99999, 4, 5], True]

### unpacking a tuple

In [ ]:
a=1
b=2
c=3
d=4
print(f"The individual variable values are : {a,b,c,d}")
print("Tuple unpacking : ")
t=(6,7,8,9)
a,b,c,d=t
print(f"The individual variable values assigned using tuples are : {a,b,c,d}")

The individual variable values are : (1, 2, 3, 4)
Tuple unpacking :
The individual variable values assigned using tuples are : (6, 7, 8, 9)

### Tuple operations


| Operation             | Description                                                                      | Example                                            |
|-----------------------|----------------------------------------------------------------------------------|----------------------------------------------------|
| Accessing Elements    | Elements of a tuple can be accessed using indexing or slicing.                  | `my_tuple[0]`<br>`my_tuple[1:3]`                   |
| Concatenation         | Tuples can be concatenated using the `+` operator.                              | `tuple1 + tuple2`                                 |
| Repetition            | Tuples can be repeated using the `*` operator.                                   | `('hello',) * 3`                                   |
| Membership            | You can check if an element exists in a tuple using the `in` operator.           | `2 in my_tuple`                                    |
| Length                | You can find the length of a tuple using the `len()` function.                   | `len(my_tuple)`                                    |
| Iteration             | You can iterate over the elements of a tuple using a loop.                       | ```python                                         ```<br>```for item in my_tuple:```<br>```    print(item)``` |
| Tuple Unpacking       | You can unpack a tuple into individual variables.                                | ```python                                         ```<br>```a, b, c = my_tuple```                     |

In [ ]:
tp=('Ameer Salam', 'Salam', 2,3,[1,2,3,4], True, 3.89, 'C')
tp2=('C', 'C++', 'Python', 'Java')

#count
print(tp.count('C'))


#index
print(tp.index("C"))


#iteration
print("Printing only Strings : ")
for i in tp:
  if type(i)==str:
    print(i, end="\t")
print("\n")


#concatination using +
print(tp+tp2)
#multiplying tuple using *
print('Printing tuple twice : ',tp*2)

1
7
Printing only Strings :
Ameer Salam	Salam	C

('Ameer Salam', 'Salam', 2, 3, [1, 2, 3, 4], True, 3.89, 'C', 'C', 'C++', 'Python', 'Java')
Printing tuple twice :  ('Ameer Salam', 'Salam', 2, 3, [1, 2, 3, 4], True, 3.89, 'C', 'Ameer Salam', 'Salam', 2, 3, [1, 2, 3, 4], True, 3.89, 'C')

## Dictonarry
* using dictonary we can store data in **key and Data** pair,
* it is unordered Data type (it is ordered data type in python 3.7 and above)
* dictonaries do not support indexing
* data in dictonary can be accessed using key
* dictionaries cannot have multiple entries with the same key.

### Creating a dictonary

In [ ]:
dictExp={
    'Ameer Salam':3,
    'Danish':2
    }
print(dictExp, type(dictExp))

{'Ameer Salam': 3, 'Danish': 2} <class 'dict'>

In [ ]:
price={
    'Mango':140,
    'Apple':90,
    'Banana':50
    #keys : values
}

print(price, type(price))

{'Mango': 140, 'Apple': 90, 'Banana': 50} <class 'dict'>

### Using Zip() to combine elements from multiple iterables into tuples

In [ ]:
fruit=['Mango', 'Apple', 'Banana']
price=[200, 150, 100]
salePrice=dict(zip(fruit, price))
print(f"The Dictonary creatted is : {salePrice}")

The Dictonary creatted is : {'Mango': 200, 'Apple': 150, 'Banana': 100}

### Accessing Elements in the Dictonary

In [ ]:
fruit=['Mango', 'Apple', 'Banana']
price=[200, 150, 100]
salePrice=dict(zip(fruit, price))
print(salePrice['Apple'])

150

if the key is not present, it returns an error,
to fix this we can use the get() function

In [ ]:
fruit=['Mango', 'Apple', 'Banana']
price=[200, 150, 100]
salePrice=dict(zip(fruit, price))
print(salePrice.get('Guava'))

None

### Updating Dictonary
we can update a dictonary using:
1. key
2. using **update** method

In [ ]:
#updating using keys

fruits=['Mango', 'Apple', 'Banana', 'Pineapple']
price=[200, 150, 100, 200]
salePrice=dict(zip(fruits, price))
print("The Fruits and thier prices are(unupdated) : ",salePrice)

salePrice['Pineapple']={'Large':250, 'Small':200}
salePrice['Guava']=90
print(salePrice)

The Fruits and thier prices are(unupdated) :  {'Mango': 200, 'Apple': 150, 'Banana': 100, 'Pineapple': 200}
{'Mango': 200, 'Apple': 150, 'Banana': 100, 'Pineapple': {'Large': 250, 'Small': 200}, 'Guava': 90}

In [ ]:
#using update() method
new_fruits={'Grapes':50, 'Peaches':300}
salePrice.update(new_fruits)
print(salePrice)

{'Mango': 200, 'Apple': 150, 'Banana': 100, 'Pineapple': {'Large': 250, 'Small': 200}, 'Guava': 90, 'Grapes': 50, 'Peaches': 300}

### Deleting Data
1. pop      - removes the object whose key is specified
2. popitem  - removes the last object
3. del

In [ ]:
#citizenship checking
"Apple" in salePrice

True

In [ ]:
#citizenship checking
"Coconuts" in salePrice

False

In [ ]:
#using pop methos

#print(salePrice.pop("Apple"))
print(salePrice)

{'Mango': 200, 'Banana': 100, 'Pineapple': {'Large': 250, 'Small': 200}, 'Guava': 90, 'Grapes': 50, 'Peaches': 300}

In [ ]:
#using popitem() methos
print(f"The dictonary before popitem is : {salePrice}")
print(f"The dictonary after the popitem is : {salePrice.popitem()}")

The dictonary before popitem is : {'Mango': 200, 'Banana': 100, 'Pineapple': {'Large': 250, 'Small': 200}, 'Guava': 90, 'Grapes': 50, 'Peaches': 300}
The dictonary after the popitem is : ('Peaches', 300)

In [ ]:
#using delete
#del salePrice

### Iterating in a Dictonary

In [ ]:
fruits=['Mango', 'Apple', 'Banana', 'Pineapple']
price=[200, 150, 100, 200]
salePrice=dict(zip(fruits, price))
print("The Fruits and thier prices are : ",salePrice)

The Fruits and thier prices are :  {'Mango': 200, 'Apple': 150, 'Banana': 100, 'Pineapple': 200}

In [ ]:
for i in salePrice:
  print(f"{i} \t:\t {salePrice[i]}")

Mango 	:	 200
Apple 	:	 150
Banana 	:	 100
Pineapple 	:	 200

### using dict.items() methods

In [ ]:
for key, values in salePrice.items():
  print(key, values)

Mango 200
Apple 150
Banana 100
Pineapple 200

### more dictonary methods
1. keys
2. values
3. items

In [ ]:
print(salePrice.keys())   #gives keys only
print(salePrice.values()) #gives values only
print(salePrice.items())  #gives key and value pairs

dict_keys(['Mango', 'Apple', 'Banana', 'Pineapple'])
dict_values([200, 150, 100, 200])
dict_items([('Mango', 200), ('Apple', 150), ('Banana', 100), ('Pineapple', 200)])

### Challenge : Dictonary

In [ ]:
name = input("Enter the string : ")
freq = {}

# Count the frequency of each character
for i in name:
    freq[i] = freq.get(i, 0) + 1

# Print the frequencies of characters
print(freq)

# Print keys whose value is 1
for key, value in freq.items():
    if value == 1:
        print(key)

Enter the string : Ameer Salam
{'A': 1, 'm': 2, 'e': 2, 'r': 1, ' ': 1, 'S': 1, 'a': 2, 'l': 1}
A
r

S
l

## Sets
* Sets are unique collection of data
* sets are unordered Data types

### Creating sets

In [ ]:
setexp=set() #empty set
print(setexp, type(setexp))

set() <class 'set'>

In [ ]:
# Creatint a non-empty set
#different ways set can be declared
s={1,2,3}
empty_set=set()
print(empty_set)

set2=set([1,2,3,4])
print(s, type(set2))

set3={x for x in range(0, 11)}
print(set3)

#using the add function
set3.add(9999)
print(set3)

set3.update("Ameer Salam")
print(set3)

set()
{1, 2, 3} <class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999, ' ', 'A', 'm', 'r', 'a', 'l', 'S', 'e'}

### Deleting elements in a Set
1. pop()     - it randomly removes any element from the given set
2. remove()   - it specifically removes the given element

In [ ]:
s={1,2,3}
empty_set=set()
print(empty_set)

set2=set([1,2,3,4])
print(s, type(set2))

set3={x for x in range(0, 11)}
print(set3)

#using the add function
set3.add(9999)
print(set3)

set3.update("Ameer Salam")
print(set3)

#using pop
print("Using Pop function : ")
set3.pop()
print(set3)

#uring remove
print("Using Remove function : ")
set3.remove(" ")
print(set3)

set()
{1, 2, 3} <class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999, ' ', 'A', 'm', 'r', 'a', 'l', 'S', 'e'}
Using Pop function :
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999, ' ', 'A', 'm', 'r', 'a', 'l', 'S', 'e'}
Using Remove function :
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9999, 'A', 'm', 'r', 'a', 'l', 'S', 'e'}

### Set function
1. Intersection
2. Union
3. Difference

In [ ]:
#intersecton
# Sample Set 1
set1 = {"apple", "banana", "orange", "grape", "kiwi"}

# Sample Set 2
set2 = {"orange", "grape", "watermelon", "pineapple", "kiwi"}

#to find the intersection
print(set1.intersection(set2))

{'kiwi', 'grape', 'orange'}

In [ ]:
#union mmethd
#to find the union
print(set1.union(set2))

{'watermelon', 'banana', 'orange', 'kiwi', 'pineapple', 'grape', 'apple'}

In [ ]:
#difference
#difference mmethd
#to find the union
print(set1.difference(set2))
print(set2.difference(set1))

{'banana', 'apple'}
{'watermelon', 'pineapple'}

### Challenge Unions

In [ ]:
#Hey there! How are you? welcome back to my channel. I am Ameer Salam
sentence=str(input("Enter the String : "))
print(sentence)
s={x for x in sentence}
print(s)

sentence.split()
uniq={x for x in sentence.split()}
print(f"Unique words {uniq}")

Enter the String : Hey there! How are you? welcome back to my channel. I am Ameer Salam
Hey there! How are you? welcome back to my channel. I am Ameer Salam
{'u', ' ', '.', 't', 'I', 'H', 'c', 'A', 'm', 'r', 'h', '!', 'a', 'l', 'S', 'n', 'w', '?', 'o', 'k', 'b', 'e', 'y'}
Unique words {'welcome', 'back', 'I', 'Ameer', 'Salam', 'you?', 'there!', 'How', 'am', 'are', 'channel.', 'Hey', 'to', 'my'}

## Functions in Python

* Functions are predefined piece of code
* Increases the code reusability
* makes code more organised and managable
* types of function
  * in-built
  * user defined
* functions work only when you call it
* syntax `def name(parameters):`
* you can call the function with `name_of_function()'

### Defining a Function

In [ ]:
def funcExp(x):
  if ((x%2)==0):
    return 1
  else:
    return -1

x=int(input("The the number to check for Odd or Even : "))
if(funcExp(x)==1):
  print("It is an even number")
elif(funcExp(x)==-1):
  print("It is an Odd number")

The the number to check for Odd or Even : 34
It is an even number

### Printing the memory address of the function

In [ ]:
def funcExp(x):
  if ((x%2)==0):
    return 1
  else:
    return -1

x=int(input("The the number to check for Odd or Even : "))
if(funcExp(x)==1):
  print("It is an even number")
elif(funcExp(x)==-1):
  print("It is an Odd number")

print(f"The memory address of the funcExp function is {funcExp}")

The the number to check for Odd or Even : 67
It is an Odd number
The memory address of the funcExp function is <function funcExp at 0x7ee79de76ef0>

### Docstrings
* also known as Document strings,
* it provides a docoumentation about the given object,
* docstrings are enclosed in (**""" """**),

### Parameters in Functions
* they are placeholders in the function,
* when defining them, we call them as parameters
* when passing the  actual value we call them as Arguments

In [ ]:
def add(x, y):
  return (x+y)

x=int(input("X = "))
y=int(input("y = "))
print(f"The sum of {x} and {y} s : {add(x,y)}")

X = 7
y = 8
The sum of 7 and 8 s : 15

### Return Statement
* it ends the flow of a function
* if you dont provide the return statement to the function, it returns the `None` type
* it returns the expression back to the function
* the code after the return statement is not executed,
* if there is no return statement, the returned value is `None`

### Returning multiple values
def intro(name, age, hobbby)

In [ ]:
def returnExp():
  a=10
  b=20
  c=30
  d=40
  return(a,b,c,d)

print(f"The values returned are {returnExp()}")

The values returned are (10, 20, 30, 40)

### Scope of Variable
1. Global Variable
2. Local Variable

In [ ]:
a=5

def exp():
  b=2
  print(f"exp()")
exp()

exp()

In [ ]:
b=2 #global variable
def exp():
    a=20 # local variable
    print(f"a={a}, b={b}")

print(f"a={a}, b={b}")
exp()

a=5, b=2
a=20, b=2

### Lambda Function
1. they are nameless function
2. they are used for short interval and short term in the  code
3. Lamda function structure - `(lambda parameters:return_values)(arguments)`

In [ ]:
def add(x, y):
    return x + y

a = 5
b = 7
print(add(a, b))  # Output: 12

# Call the lambda function with arguments a and b
print(f"Using lambda function a + b: {(lambda a, b: a + b)(a, b)}")  # Output: 12

12
Using lambda function a + b: 12

In [ ]:
def large(a,b):
  if a>b:
    return a
  else:
    return b

a=5
b=9
print(f"The large of {a} and {b}  is {large(a, b)}")
print(f"Using the lambda function, the smallest is : {(lambda a, b: a if a<b else b)(a,b)}")

The large of 5 and 9  is 9
Using the lambda function, the smallest is : 5

### Challenge

In [ ]:
def eveOdd(l):
  for i in l:
    if i%2==0:
      print(i)
l=[1,2,3,4,5,6,7,9,0]
eveOdd(l)

2
4
6
0

In [ ]:
#challenge
#return list with unique elements
def unique(l):
  new=[]
  for i in l:
    if i not in new:
      new.append(i)
  return new

l=[1,2,3,5,4,2,7,8,5,6,9,9,5,]
print(unique(l))

[1, 2, 3, 5, 4, 7, 8, 6, 9]

### Argument vs Parameters
1. Arguments - the actual values which you will be passing to a paramenters
2. Parameters - those which you pass while defining a function

### positional Arguments
* the values you passe to eh parameters are matched to the arguments according to thier positions (the number and position must be same)

In [ ]:
def info(name, hobby):
  print(f"Hello My name is {name}")
  print(f"And my hobby is {hobby}\n\n")

n=str(input("Enter your name: "))
h=str(input("Enter your hobby: "))

print(f"output obtained by Passing the arguments in right order : {info(n, h)}")
#print(f"output obtained by Passing the arguments in wrong order : {info(h, n)}")

Enter your name: Ameer
Enter your hobby: coding
Hello My name is Ameer
And my hobby is coding


output obtained by Passing the arguments in right order : None

### default arguments
* giving default values to the Paraments
* for there parameters, passing values in arguments is optional
* syntax - `def fun_name(parameter1, parameter2='Default value)`

**Note :** The default arguments must be followed by the default arguments (non-default arguments must always be placed before the default arguments in the parameters list)

In [ ]:
def info(name, hobby='Studying'): # default value is given here for the hobby parameter
  print(f"The name is {name}")
  print(f"The hobby is {hobby}\n\n")

#using the default value in parameters
info("Ameer Salam")

#repplacing the default value in parameters
info("Danish", "Jogging")

The name is Ameer Salam
The hobby is Studying


The name is Danish
The hobby is Jogging

### Arbitrary Arguments
* when the number of values you want to pass is not known
* like we pass multiple values in print function
* the values are being stored and returned in tuple
* `*args` - must be used in the parameters list

In [ ]:
#arbitary arguments example
def exp(*args):
  print(args)
  print(type(args))

exp(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#arbitary arguments example 2
def exp(*args):
  print(args)
  print(type(args))

  for i in args:
    print(i**2, end='\t')

exp(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>
1	4	9	16

### keyword Arguments
* they are key and value pair arguments
* it must be passed in the parameters lsit with `**`
* they return in dictonary datatype

In [ ]:
def example(a,b,c, def_example='999', *args, **kwargs):
  print(f"A: {a}\nB: {b}\nC: {c}")
  print(f"default: {def_example}")
  print(args)
  print(kwargs)
  print("Done with this time\n")

example(3,4,99)
example(3,4,99, 878)
example(3,4,99, 878, 89, 99,4,73,87)
example(3,4,99, 878, 89, 99,4,73,87, name="Ameer Salam", age=20)

A: 3
B: 4
C: 99
default: 999
()
{}
Done with this time

A: 3
B: 4
C: 99
default: 878
()
{}
Done with this time

A: 3
B: 4
C: 99
default: 878
(89, 99, 4, 73, 87)
{}
Done with this time

A: 3
B: 4
C: 99
default: 878
(89, 99, 4, 73, 87)
{'name': 'Ameer Salam', 'age': 20}
Done with this time

## OOPs in Python
* OOPs is based on four primary topics:
  1. Encapsulation
  2. Abstraction
  3. Polymorphism
  4. Inheritance

  **Definitionns** :

  1. **Objects** - real world entities, anything whit which we can store and process the data on.
  2. **class** - template to create an object which defines the attribbutes and methods which are common to all the objects of that class
  3. **Abstraction** - displaying only the essential information while hiding the internal details.
  4. **Encapsulation** - Binding the data and its associated methods into one object
  5. **Inheritance** - inheriting properties from one class to another
  6. **Polymorphism** - same class and method can take many forms and can work differently for different objects

### Classes
* it is a blueprint or template to create objects
* class name starts with a capital letter

In [ ]:
class Car:
  pass

### Objects
* objects are instances or entities of a class
* it has all the properties of a class
* object inherits its propertie from its parent class

In [ ]:
Volvo=Car()
print(type(Volvo))

<class '__main__.Car'>

### Constructors
* they are special methods used to create and initialize an object of a class
* this method is defined in a class
* the constructors are executed automatically at the time object creation
* in python we define a constructor as `def __init__(self, param1, param2):`
* the self here in the parameter list maps the object with the name you give to it

In [ ]:
class Human:
  #some properties of Human
  def __init__(self):
    print("This is printed")

ameer=Human()
salam=Human()

This is printed
This is printed

In [ ]:
class Human:
  #some properties of Human
  def __init__(self, name, age, hobby):
    self.name=name
    self.age=age
    self.hobby=hobby
    print(f"The name of the human is : {name}\nThe age is : {age}\nThe hobbies are : {hobby}\n\n")

ameer=Human('Ameer Salam', 20, 'Coding')
danish=Human('Danish', 21, 'Swimming')

The name of the human is : Ameer Salam
The age is : 20
The hobbies are : Coding


The name of the human is : Danish
The age is : 21
The hobbies are : Swimming

In [ ]:
print(ameer.name)
print(ameer.age)
print(danish.age)

Ameer Salam
20
21

### Class Methods
* unlike the constructor, the methods are regular functions definied within a class to perform a specific operations.
* they are used to define the behavious of an object and manipulate the state of object
* unlike the constructor which can only be named as `__init__(self)`, methods can have any names example - `object.methods()`
* return values - the methods can return values unlike constructors which only look after initialization and not on return values

In [ ]:
class Calculator:
  def __init__(self, var1, var2):
    self.v1=var1
    self.v2=var2

  def add(self):
    return self.v1+self.v2
  def sub(self):
    return self.v1-self.v2

V1=int(input("Enter the Variabe 1 value : "))
V2=int(input("Enter the Variabe 2 value : "))
sol=Calculator(V1, V2)

print(sol.add())
print(sol.sub())

Enter the Variabe 1 value : 6
Enter the Variabe 2 value : 9
15
-3

### Class Variables
* instance variables are unique to each instance of the class. They belong to a specific objects and are used to store specific data related to that object.
* whereas, the class variables are the variables that are accessed and used by all the instances of the class.
* access - accessed with dot notation - `ClassName.variable_name`

In [ ]:
class Class_var_exe:
    population = 0

    def __init__(self, name, age):
        # Class variable
        self.name = name
        self.age = age
        Class_var_exe.population += 1
        print(f"The name is {name}, and the age is {age}\nThe population is {Class_var_exe.population}")

Human1 = Class_var_exe('Ameer Salam', 20)
Human2 = Class_var_exe('Danish', 21)

The name is Ameer Salam, and the age is 20
The population is 1
The name is Danish, and the age is 21
The population is 2

### Adding more methods in class

In [ ]:
class Class_var_exe:
    population = 0

    def __init__(self, name, age):
        # Class variable
        self.name = name
        self.age = age
        Class_var_exe.population += 1
        print(f"The name is {name}, and the age is {age}\nThe population is {Class_var_exe.population}")

    def welcome(self):
      print(f"Welcome {self.name}\n")

    def death(self):
      print(f"R.I.P : {self.name}\n")
      Class_var_exe.population-=1
      print(f"New population is : {Class_var_exe.population}")


Human1 = Class_var_exe('person X', 20)
Human1.welcome()
Human2 = Class_var_exe('person Y', 21)
Human2.welcome()
Human3 = Class_var_exe('person Z', 98)
Human3.welcome()
Human3.death()

The name is person X, and the age is 20
The population is 1
Welcome person X

The name is person Y, and the age is 21
The population is 2
Welcome person Y

The name is person Z, and the age is 98
The population is 3
Welcome person Z

R.I.P : person Z

New population is : 2

In [ ]:
Class_var_exe.population

2

In [ ]:
Human2.death()

R.I.P : person Y

New population is : 1

### Inheritance
* when a class derives every methods and attributes from another class
* it gets access to all of its methods and attributes
* helps increase the  code resuability
* the parent class name is written in the parameters list of the class

In [ ]:
class Employee(Class_var_exe):
  pass

In [ ]:
Class_var_exe.population

1

In [ ]:
el1=Employee('Dont know1', 30)
el2=Employee('Dont know2', 34)
el3=Employee('Dont know3',21)
el4=Employee('Dont know4', 76)

el2.death()

The name is Dont know1, and the age is 30
The population is 8
The name is Dont know2, and the age is 34
The population is 9
The name is Dont know3, and the age is 21
The population is 10
The name is Dont know4, and the age is 76
The population is 11
R.I.P : Dont know2

New population is : 10

In [ ]:
#reinitiate constructor
class Employee(Class_var_exe):
  def __init__(self,name, age, company, salary):
    super().__init__(name, age)    #using super we can inherit all the constructors from super class to the subclass
    #attributes for employee class
    self.company=company
    self.salary=salary
    print(f"{company}, {salary}")

  def hier(self, name):
    print(f"this persone {name} has been hiered in the company")
    #welcome.Employee()

In [ ]:
el1=Employee('Dont know1', 30, 'amazon', 345)
el2=Employee('Dont know2', 34, 'Microsogt', 454)
el3=Employee('Dont know3',21, 'Google', 545)
el4=Employee('Dont know4', 76, 'netflix', 343)

The name is Dont know1, and the age is 30
The population is 8
amazon, 345
The name is Dont know2, and the age is 34
The population is 9
Microsogt, 454
The name is Dont know3, and the age is 21
The population is 10
Google, 545
The name is Dont know4, and the age is 76
The population is 11
netflix, 343

### Polymorphism
* mmeans having many formms
* same class methods can work differently for different objects
* types of Polymorphism
  * operator level polymorphism
  * method based polymorhism

#### operator level polymorphism
example -
a=2
b=4
print(a+b) - the exected uotpu t ar 6
print("2" + '4") - this gives different output
the  same operator is performing different operations

#### Function level Polymorphi
* here the same function behave differently for differen objects.

## File Handling in Python
* file is a contianer in a computer system which stores data
* her data is permanantly stored

* type of file
  * text
  * binary

* operations of files are:
  * read
  * write
  * append

### opening and reading a file

In [ ]:
f=open("/doc.txt") #be default it opens with a read function

In [ ]:
f.close() #to close the file

In [ ]:
f.read()

'Hi\nHello'

### Operations on Files

Basic operations are
* read - r
* write - w
* append at the end of the file - a
* write text - wt
* write binary - wb
* read binary - rb
* read text - rt



| Operation      | Description                                                                                     | Example                                        |
|----------------|-------------------------------------------------------------------------------------------------|------------------------------------------------|
| Open           | Opens a file for reading, writing, or both.                                                     | `file = open("filename.txt", "r")`             |
| Close          | Closes the opened file.                                                                         | `file.close()`                                 |
| Read           | Reads the contents of the file.                                                                 | `content = file.read()`                        |
| Write          | Writes data to the file.                                                                        | `file.write("Hello, world!")`                  |
| Append         | Appends data to the end of the file.                                                            | `file.write("New content")`                    |
| Readline       | Reads a single line from the file.                                                              | `line = file.readline()`                       |
| Readlines      | Reads all lines from the file into a list.                                                       | `lines = file.readlines()`                     |
| Seek           | Moves the file pointer to a specified position.                                                  | `file.seek(0)`                                 |
| Tell           | Returns the current position of the file pointer.                                                 | `position = file.tell()`                       |
| Flush          | Flushes the internal buffer to the file.                                                         | `file.flush()`                                 |
| With Statement | Automatically handles opening and closing of files.                                               | `with open("filename.txt", "r") as file:`      |
| Rename         | Renames a file.                                                                                  | `os.rename("old.txt", "new.txt")`              |
| Remove         | Deletes a file.                                                                                  | `os.remove("filename.txt")`                    |
| Exists         | Checks if a file exists.                                                                         | `os.path.exists("filename.txt")`               |
| Isfile         | Checks if a path is a regular file.                                                              | `os.path.isfile("filename.txt")`               |
| Isdir          | Checks if a path is a directory.                                                                 | `os.path.isdir("dirname")`                     |
| Mkdir          | Creates a new directory.                                                                         | `os.mkdir("dirname")`                          |
| Rmdir          | Removes a directory.                                                                             | `os.rmdir("dirname")`                          |
| Walk           | Generates the file names in a directory tree by walking the tree either top-down or bottom-up.   | `for dirpath, dirnames, filenames in os.walk("dirname"):` |
| Chmod          | Changes the permissions of a file.                                                               | `os.chmod("filename.txt", 0o777)`              |
| Chown          | Changes the owner and group id of a file.                                                        | `os.chown("filename.txt", uid, gid)`           |

In [ ]:
#opening file in write mode
f=open("doc.txt", 'w')
f.write("\nThis is written now")
f.close()

In [ ]:
f=open("doc.txt")
content=f.read()
print(content)
f.close()

This is written now

#### with open function
* mmost common way to perfrom operations on the files
* it closes the file after performing the operations
* with the `with open1` we dont hav to close the file explicitly

In [ ]:
with open("doc.txt") as f:
  print(f.read())

This is written now

In [ ]:
f.closed

True

#### Writing in a file
1. creat or open file

In [ ]:
with open('doc.txt', 'w') as f:
  f.write("NEW FILE FOUND")

#### Reading from a file

In [ ]:
with open("doc.txt", 'r') as f:
  data=f.read(3)
  print(data)

# to read next 4 characters
  data=f.read(4)
  print(data)

# resetting file hanfler using seek()
  f.seek(4)
  data=f.read()
  print(data)

  data=f.readlines()
  print(data)

NEW
 FIL
FILE FOUND
[]

### Handling Binary files

In [30]:
#creating new file with first file data
#this content is commented as it produces a very large output to be displayed on screen
'''
with open ("Anime Wallpaper Phone.jpeg", 'rb') as f : #rb refers to read binary
  data=f.read()
  print(data)
'''

'\nwith open ("Anime Wallpaper Phone.jpeg", \'rb\') as f : #rb refers to read binary\n  data=f.read()\n  print(data)\n'

In [29]:
#creating new file with first file data
#this content is commented as it produces a very large output to be displayed on screen
'''with open ("Anime Wallpaper Phone.jpeg", 'rb') as f : #rb refers to read binary
  data=f.read()
  with open("newImg.jpeg", 'wb') as d:
    d.write(data)
    print(data)
    '''

'with open ("Anime Wallpaper Phone.jpeg", \'rb\') as f : #rb refers to read binary\n  data=f.read()\n  with open("newImg.jpeg", \'wb\') as d:\n    d.write(data)\n    print(data)\n    '

## Errors and Exceptions in Python
* the execution of the program is terminated if the code is faultty
* there are certain places where exceptions can be cauesed
* errors are caused by wrong syntax
* exceptions are logic based : where syntax is right but the logic isn't, example - divide by zero

Examples of errors in Python
1. Sytax error - exp: `if:`
2. NameError - exp: print(a) #a not defined
3. TypeError - exp: "a"+2
4. File not found - exp:open("file.txt")
5. IndentationError
6. ZeroDivisionError - 5/0

In [ ]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

#### Try and Except
* try: this block handlles the code which might return error (suspected code)
* except: this block gives the output that you want to show if your code is faulty

In [ ]:
#using the try statement to skip the error statement
a=5
b=0
try:
  print(a/b)
except:
  pass

print("Anyways! Error neglected")

Anyways! Error neglected

In [ ]:
a=5
b=0

#placing the suspect code in the try block
try:
  print(a/b)
except:
  print("Error")

Error

In [ ]:
a=5
b=10

#placing the suspect code in the try block
try:
  print(a/b)
except:
  print("Error")

0.5

### Except block
* it displays the kind of error using `Exception`
* we have to add the statement `except Excception as e`

In [ ]:
a=5
b=0

#placing the suspect code in the try block
try:
  print(a/b)
except Exception as e:
  print(f"The error is : {e}")

The error is : division by zero

### Finally in Python
* this bllock is executed in any case
* it is helpful when you want to de-allocate resources
* like closing a flie, or db connections